<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
  </head>
  <body>
    <h1>Isomorphic</h1>
    <div id="clientElement">
      <%- serverElement %>
    </div>
    <script src="public/react.min.js"></script>
    <script type="text/javascript" src="build/Client.js" charset="utf-8"></script>
    <script charset="utf-8">
      React.render(React.createElement(examples.HelloWorld),
        document.getElementById('clientElement')
      );
    </script>
  </body>
</html>
